.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../assets/Img/fondoMar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 50vh;
}
.ig-icon {
  width: 2rem;
  height: 2rem;
}
