* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    to bottom,
    #031527,
    #021f3e,
    #074c73,
    #03345b,
    #05334d
  );
}
