.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 60%;
  border: solid 10px white;
}
.container-fluid {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 10vh;
}
.nav-link {
  color: white;
}
.nav-link.active {
  color: white !important;
}
.nav-link:hover,
.nav-link.active:hover {
  color: #074c73;
}
.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
